
name: Build Plugin
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Build with dotnet
        run: dotnet build --configuration Release

      - name: Upload DLL
        uses: actions/upload-artifact@v4
        with:
          name: SmoothWizardOptimizer-DLL
          path: "**/bin/Release/net8.0/*.dll"
